<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="InstallerMsi" Language="1033" Version="1.0.0.0" Manufacturer="axelgafu" UpgradeCode="f7f01d9a-12e6-4615-a247-3b40cbd4f2cf">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    
    
    <!--
    *
    * Step 3: Tell Windows Installer to install the files
    *==========================================================================
    -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="abcMergeModule" Language="1033" SourceFile="..\MergeModule\bin\Release\MergeModule.msm" DiskId="1" />
    </Directory>
    
    <Feature Id="AbcFeature" Title="ABC Program" Level="1">
      <MergeRef Id="abcMergeModule" />
    </Feature>

    
	</Product>
</Wix>
