<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle Name="BootstrapperExperiment" Version="1.0.0.0" Manufacturer="axelgafu" UpgradeCode="a11a1ef3-ecc7-4e6b-a4ea-3c54640ea743">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense" />

    <Chain>
      <MsiPackage 
        SourceFile="..\InstallerMsi\bin\Release\InstallerMsi.msi" 
        DisplayInternalUI="yes"
        EnableFeatureSelection="yes" />
    </Chain>
  </Bundle>
</Wix>