<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<!-- TODO: Put your code here. -->
    <Property Id="FRAG_PROP" Value="From WixLib" />
    <?define MyVariable="MyValue" ?>
    <Variable Name="AnotherVar" Type="string" Value="VariableElement" Persisted="yes"/>
	</Fragment>
</Wix>
