<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="NestedModule1" Language="1033" Version="1.0.0.0">
    <Package Id="{25FA6F12-358C-41E0-82A7-F6F29CF6A560}" Description="Basic Merge Module" Comments="A basic Windows Installer Merge Module" Manufacturer="axelgafu" InstallerVersion="200" />

    <!--
    *
    * Step 1: Define the directory structure
    *==========================================================================
    -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="abcMergeDir" Name="SourceDir">
        <Merge Id="abcMergeModule" Language="1033" SourceFile="..\MergeModule\bin\Release\MergeModule.msm" DiskId="1" />
      </Directory>
      <Directory Id="merge2Dir" Name="SourceDir">
        <Merge Id="mergeModule2" Language="1033" SourceFile="..\MergeModule2\bin\Release\MergeModule.msm" DiskId="1" />
      </Directory>
    </Directory>
    <!--
    *
    * Step 2: Add files to your installer package
    *==========================================================================
    -->

  </Module>
</Wix>