<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module 
    Id="NestedModule2" 
    Language="1033" 
    Version="1.0.0.0">
    
    <Package 
      Id="{5F229980-3575-4F28-BB5F-D778705276F4}" 
      Description="Merge Module with GUI" 
      Comments="Merge Module that shows two dialogs" 
      Manufacturer="axelgafu" 
      InstallerVersion="200" />
    
    <!-- 
    *
    * Allow GUI
    *==========================================================================
    Dialogs are "imported" using the line below.
    -->
    <UIRef Id="GafuWix_SampleDlg" />
    
    
    <!--
    *
    * Step 1: Define the directory structure
    *==========================================================================
    Directory 'Id' is an arbitrary identifier given for later use in the WiX 
    project. Ids should be different since they hold independent directories.
    -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ABCMM_APP_ROOT_DIRECTORY" Name="nested">
        <Directory Id="BINARIES" Name="bin"></Directory>
        <Directory Id="DOCUMENTATION" Name="docs">
          <Directory Id="LICENSE" Name="license">
            <!-- Points to [MSI Install Directory]\nested\docs\license. -->
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    
    <!--
    *
    * Step 2: Add files to your installer package
    *==========================================================================
    File 'Id' can be the same file name or a more descriptive id, as well.
    Component Ids should be different since they represent independent 
    installation entities.
    -->
    <DirectoryRef Id="DOCUMENTATION">
      <Component Id="AbcTxtComponent" Guid="{6B487838-94A7-4546-A92E-8CD6C7BE2C53}">
        <File 
          Id="readme_file" 
          Name="abc.txt" 
          Source="install\nested_abc.txt" 
          KeyPath="yes" />
        <!--'KeyPath' attribute set to yes requests WiX to test whether 
        component is installed.-->
      </Component>
    </DirectoryRef>
    
    <UI />
  </Module>
</Wix>